@media (prefers-color-scheme: light) {
  :root {
    --app-background: hsl(0, 0%, 100%);
    --text-color: hsl(0, 0%, 10%);
    --button-background: hsl(0, 0%, 92%);
    --button-background-hover: hsl(0, 0%, 88%);
    --button-background-focus: hsl(0, 0%, 88%);
    --button-background-active: hsl(0, 0%, 80%);
    --button-label-color: hsl(0, 0%, 0%);
    --button-label-color-disabled: hsla(0, 0%, 0%, 0.4);
    --focus-ring: hsl(0, 0%, 0%);
    --toast-background: hsl(0, 0%, 16%);
    --select-content-background: hsla(0, 0%, 88%, 0.5);
    --select-item-focus-background: hsl(0, 0%, 40%);
    --select-item-focus-text-color: hsl(0, 0%, 100%);
    --separator-background: hsl(0, 0%, 0%, 16%);
    --select-content-border: hsl(0, 0%, 0%, 16%);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --app-background: hsl(0, 0%, 0%);
    --text-color: hsl(0, 0%, 90%);
    --button-background: hsl(0, 0%, 20%);
    --button-background-hover: hsl(0, 0%, 24%);
    --button-background-focus: hsl(0, 0%, 24%);
    --button-background-active: hsl(0, 0%, 32%);
    --button-label-color: hsl(0, 0%, 100%);
    --button-label-color-disabled: hsla(0, 0%, 100%, 0.4);
    --focus-ring: hsl(0, 0%, 100%);
    --toast-background: hsl(0, 0%, 16%);
    --select-item-focus-background: hsl(0, 0%, 40%);
    --select-item-focus-text-color: hsl(0, 0%, 100%);
    --separator-background: hsl(0, 0%, 100%, 32%);
    --select-content-border: hsl(0, 0%, 100%, 32%);
  }
}


.SelectMenuWrapper {
  display: flex;
  flex-direction: column;
}

.SelectTrigger {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  padding: 0 12px 0 16px;
  height: 40px;
  gap: 6px;
  background-color: var(--button-background);
  transition: background-color 0.2s ease;
}

.SelectTrigger span {
  display: flex;
}

.SelectTrigger:hover {
  background-color: var(--button-background-hover);
}

.SelectTrigger:focus {
  outline-offset: 2px;
  outline: 2px solid var(--focus-ring);
  background-color: var(--button-background-focus);
}

.SelectContent {
  overflow: hidden;
  border-radius: 6px;
  background-color: var(--select-content-background);
  backdrop-filter: blur(60px) saturate(210%);
  border: 1px solid var(--select-content-border);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  /* Smoother & sharper shadows with layered box-shadows by Tobias Ahlin Bjerrome https://tobiasahlin.com/blog/layered-smooth-box-shadows/ */
}

.SelectViewport {
  padding: 8px;
}

.SelectItem {
  all: unset;
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 32px 0 24px;
  position: relative;
  user-select: none;
  color: var(--button-label-color);
}

.SelectItem[data-disabled] {
  color: var(--button-label-color-disabled);
  pointer-events: none;
}

.SelectItem:focus {
  background-color: var(--select-item-focus-background);
  color: var(--select-item-focus-text-color);
}

.SelectLabel {
  padding: 4px 24px 0 8px;
  font-size: 12px;
  font-weight: 600;
  line-height: 25px;
  color: var(--button-label-color-disabled);
  text-transform: uppercase;
}

.SelectSeparator {
  height: 1px;
  background-color: var(--separator-background);
  margin: 4px;
}

.SelectItemIndicator {
  position: absolute;
  left: 0;
  width: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.SelectScrollButtonStyles {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  background-color: var(--select-content-background);
  color: var(--button-label-color);
  cursor: default;
  box-sizing: border-box;
  border: 1px solid transparent;
}
