.pagination {
  display: flex;
  gap: 1em;
  place-content: center;
  margin: 2em 0;
  align-items: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.disabled {
  background-color: grey;
  color: brown;
  pointer-events: none;
  padding: .2em .5em;
}

.active {
  background-color: yellow;
  color: black;
  padding: .2em .5em;
}
